<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu - Thông tin - Liên hệ</title>
    <link rel="stylesheet" type="text/css" href="../css/guest.css">
</head>

<body>

<div id="header1">
    <a href="" style="margin-top:12px;margin-left: 20px;">
        <img width="auto" height="74" src="../../img/logo.png" alt="">
    </a>
    <div id="menu">
        <div class="item">
            <a href="contact_info.html">Giới thiệu</a>
        </div>
        <div class="item">
            <a href="help.html">Hỗ trợ</a>
        </div>
        <div class="item">
            <a class="myBtn">Đăng nhập</a>
        </div>

    </div>

</div>
<div style="height: 10px;"></div>
<div id="header2">
    <div id="menu">
        <div class="item">
            <a href="../../home_guest.html">Trang chủ</a>
        </div>
        <div class="item">
            <a class="myBtn">Kiểm tra đặt xe</a>
        </div>
        <div class="item">
            <a href="sale.html">Ưu đãi</a>
        </div>
    </div>

</div>


<div id="main">

</div>

<div id="footer">
    <a>(C) 2023</a>
    <a class="myBtn">Đánh giá</a>
    <a>Giới thiệu</a>
    <a>Hỗ trợ</a>
    <div style="text-align: center">
        <br>
        <a>Thông tin liên hệ</a>
        <p>37 Trưng Vương, Hà Nội</p>
        <p>SĐT: 0378254925</p>
    </div>
</div>

<script src="../js/guest.js"></script>

</body>

</html>