@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
html {
    scroll-behavior: smooth;
}
*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    letter-spacing: 1px;
    cursor: auto;
}


#header1 {
    width: 100%;
    height:70px;
    margin-top:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #5de0e6, #004AAD);
    position: sticky;
    top: 0;
    z-index: 9999;
}

#header2 {
    width: 100%;
    height:40px;
    margin-top:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 67px;
    z-index: 9998;
    background-color: #BF170E;
    border-style: solid none solid none;
    border-color: white;
    border-width: 1px;
}

#menu {
    list-style:none;
    display: flex;
    margin-left: 20px;
}
#menu .item {
    margin:auto 20px;
    font-size: 19px;

}

#menu .item a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;

}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9998; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-right: 0px;
  padding: 0;
  width: 150px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s;
  text-align: center;
}


.modal-head {
    text-align: center;
    padding: 12px;
    height: 50px;
    background-color: white;
    font-size: 17px;
}

.modal-head a {
    color: #1a1a1a;
    text-decoration: none;
    cursor: pointer;
}

.modal-head:hover {
    background-color: #e6e6e6;
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


#main {
    width: 90%;
    height: 300px;
    margin: 40px auto;
}

#h {
    display: flex;
    justify-content: space-between;
}

#edit {
    height: 40px;
    width: 120px;
    color: white;
    background-color: #0097B2;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 30px;
    cursor: pointer;
}

#save {
    height: 40px;
    width: 120px;
    color: white;
    background-color: #B7C0C4;
    border: 1px solid black;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 30px;
    cursor: not-allowed;
}

#main button:active {
    background-color: #01859D;
}

#main table{
    margin-top: 50px;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

#main table th{
    color: white;
    background-color: #234662;
}

#main table input[type=checkbox]{
    width: 20px;
    height: 20px;
    cursor: pointer;

}


#footer {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 100;
    margin: 100px auto;
    color: white;
    background-color: #0097B2;
}