<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý thanh toán</title>
    <link rel="stylesheet" type="text/css" href="../css-m/payment.css">
</head>

<body>
<div id="header1">
    <a href="" style="margin-top:12px;margin-left: 20px;">
        <img width="auto" height="74" src="../img-m/logo.png" alt="">
    </a>
    <div id="menu">
        <div class="item">
            <a href="">Báo cáo</a>
        </div>
        <div class="item">
            <a href="">Hệ thống</a>
        </div>
        <div class="item">
            <img id='user-img' width="auto" height="45" src="../img-m/user.png" alt="">
        </div>
        <p class="item" style="color: #004AAD; margin-left:0px;">i</p>

    </div>
</div>
<div style="height: 10px;"></div>
<div id="header2">
    <div id="menu">
        <div class="item">
            <a href="ticket.html">Vé</a>
        </div>
        <div class="item">
            <a href="trip.html">Chuyến đi</a>
        </div>
        <div class="item">
            <a href="bus.html">Xe</a>
        </div>
        <div class="item">
            <a href="routes.html">Lộ trình</a>
        </div>
        <div class="item">
            <a href="employee.html">Nhân viên</a>
        </div>
        <div class="item">
            <a href="passenger.html">Khách hàng</a>
        </div>
        <div class="item">
            <a  style="color: black;
                background-color: white;
                padding: 2px 3px 2px 3px;
                border-radius: 3px" href="payment.html">Thanh toán</a>
        </div>
    </div>

</div>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-head">
            <a href="acc_info.html">Tài khoản</a>
        </div>
        <div class="modal-head">
            <a href="http://127.0.0.1:8000">Đăng xuất</a>
        </div>
    </div>
</div>

<div id="main">
    <div id="h">
        <h2>Quản lý thanh toán</h2>
        <div>
            <button id="add-btn">Tạo mới</button>
            <button id="save">Lưu</button>
        </div>
    </div>
    <div id="table-data" class="tableFixHead">
        <!-- <iframe src="http://127.0.0.1:8000/thanhtoan" width="100%" height="100%"></iframe> -->
        <table>
            <tr>
                <th>Mã Thanh Toán</th>
                <th>Trạng thái</th>
                <th>Tổng tiền</th>
            </tr>
            {% for row in data %}
            <tr>
                {% for field in row %}
                <td>{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id="edit-detail">
    <div style="display: flex;
    justify-content: space-between; margin-bottom: 20px">
        <h2>Chỉnh sửa thông tin</h2>
        <button id="del-btn" >Xóa</button>
    </div>
    <div>
    <form class="changed-info" method="post" action="">
        <table border="1" cellspacing="0" cellpadding="10">
            <tr>
                <th>Mã thanh toán</th>
                <th>Trạng thái</th>
                <th>Tổng tiền</th>
            </tr>
            <tr>
            <td><input type="text" value="giá trị cũ"></td>
            <td><input type="text" value="đã thanh toán"></td>
            <td><input type="number" value="12345"></td>
        </tr>
        </table>
    </form>
    </div>
</div>

<div id="alert" class="alert">
    <div class="alert-content">
        <h3>Xóa biên lai này?</h3>
        <div id="alert-btn">
            <button id="yes">Xóa</button>
            <button id="close-btn">Không</button>
        </div>
    </div>
</div>

<div id="add-detail">
    <h2>Tạo mới thanh toán</h2>
    <br>
    <div>
    <form class="changed-info" method="post" action="http://127.0.0.1:8000/add_thanhtoan">
        <table border="1" cellspacing="0" cellpadding="10">
             <tr>
                <th>Trạng thái</th>
                <th>Tổng tiền</th>
            </tr>
            <tr>
                <td><input type="number" name="trangThai"></td>
                <td><input type="number" name="tongTien"></td>
            </tr>
        </table>
        <button type="submit" id="add-btn">Tạo mới</button>
    </form>
    </div>
</div>


<div id="footer">
</div>

<script src="../js-m/payment.js"></script>

</body>
</html>